@tailwind base;
  @tailwind components;
  @tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}



@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

body {
  @apply transition-colors duration-300
}

/* Estilos para el elemento activo */
.active {
  color: rgb(0 0 0 / var(--tw-text-opacity)) !important;
  border-left-color: rgb(0 0 0 / var(--tw-border-opacity)) !important;
  padding-left: 1.5rem;
  border-left-width: 2px;
}

/* Estilos para el elemento activo en modo oscuro */
@media (prefers-color-scheme: dark) {
  .dark\:active:is(.dark *) {
    color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
    border-left-color: rgb(255 255 255 / var(--tw-border-opacity)) !important;
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.animated-gradient {
  background-size: 200%;
  animation: bg-animation 6s infinite alternate;
  background-image: linear-gradient(to right, #7e22ce 0%, #c24e9d 50%, #dd9d61 100%);
}

.border-gradient {
  background-color: #F1F5F9;
  border: none;
  position: relative;
  border-radius: 100px;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-gradient::after {
  content: '';
  position: absolute;
  background-size: 200%;
  height: 112%;
  width: 101.5%;
  border-radius: 1000px;
  animation: bg-animation 6s infinite alternate;
  background-image: linear-gradient(to right, #7e22ce 0%, #c24e9d 50%, #dd9d61 100%);
  z-index: -1;
}

.dark .border-gradient {
  background-color: #171717;
}
